#mainContainer{
    background-image: url("http://cdn.dota2.com/apps/dota2/images/blog/play/bg_03.jpg");
    background-size: cover;
}
#DotaLogo{
    max-width: 650px;
}
/* .myFooter{
    height: 600px;
} */
h1, h2, h3, h4, h5, h6 {
    padding: 1%;
    font-family: 'Raleway';
}
body {
    color: #999999;
}
*{
    font-family: 'Raleway';
}
#fullInfo{
    height: 972px;
    margin-bottom: 0;
    background-image:url('http://cdn.dota2.com/apps/dota2/images/blog/play/bg_08.jpg'); 
    background-size: cover; 
    background-position: center;
}
#threeBlocks h1{
    width: 50%;
}
#threeBlocks p{
    width: 50%;
}
#fullInfoContainer{
    width: 50%;
}
@media (max-width: 768px){
    #threeBlocks .row{
        height: 100%;
    }
    #fullInfoContainer{
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 572px){
    #threeBlocks .row{
        background-color: wheat;
        background-color: transparent;
    }
    #threeBlocks h1{
        width: 100%;
    }
    #threeBlocks p{
        width: 100%;
    }
}
